{
  "openapi": "3.0.3",
  "info": {
    "title": "charactersopenapispec",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://rickandmortyapi.com/api"
    }
  ],
  "paths": {
    "/api/character": {
      "get": {
        "summary": "CHARSPEC",
        "description": "Returns a list of Rick and Morty characters",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "example": 1
            },
            "description": "Page number",
            "example": "1"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with characters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "info": {
                      "type": "object",
                      "properties": {
                        "count": {
                          "type": "integer"
                        },
                        "pages": {
                          "type": "integer"
                        },
                        "next": {
                          "type": "string",
                          "nullable": true
                        },
                        "prev": {
                          "type": "string",
                          "nullable": true
                        }
                      }
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "species": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "gender": {
                            "type": "string"
                          },
                          "image": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://rickandmortyapi.com"
          }
        ]
      }
    }
  }
}